.heading {
    text-align: center;
    height: 50px;
    position: relative;
    font-family: 'My Soul', cursive;
    font-size: 125%;

}
.div1 {
  text-align: center;
  height: 62.5%;
  width: inherit;
  position: relative;
  opacity: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 125%;
}

h1{
  color: darkorange;
}
body{
  color: #ffa500;
  background-color: lightgreen;
}

